<div class="topbar-container" ng-include="'views/includes/topbar.html'" ng-init="titleSection='Services'; goBackToState = true"></div>

<div ng-controller="botController as botCtr">

    <div class="columns m20t" style="position: absolute; margin-bottom: 60px;">
        <h1 style="font-weight: 200; margin-bottom: 25px">{{botCtr.bot.name}}</h1>
        <div class="m30b" dynamic="botCtr.bot.description" style="-webkit-user-select: text;"></div>

        <div class="row">
            <div>
                <input ng-if="botCtr.bot.isPaired" type="button" class="button expand round" value="{{'Open chat'|translate}}"
                    style="background: #0095ff;font-size: 14px;padding: 10px 0;" ng-click="botCtr.open(botCtr.bot)"
                    ng-disabled="!botCtr.bot">
                <input ng-if="!botCtr.bot.isPaired" type="button" class="button expand round" value="{{'Add Services'|translate}}"
                    style="background: #0095ff;font-size: 14px;padding: 10px 0;" ng-click="botCtr.pair(botCtr.bot)"
                    ng-disabled="!botCtr.bot">
            </div>
        </div>
    </div>

    <div class="extra-margin-bottom"></div>
</div>

<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>