<div class="topbar-container" ng-include="'views/includes/topbar.html'" ng-init="titleSection='Translators'; goBackToState = true">
</div>

<div class="content preferences">
	<ul class="no-bullet m0 size-14">
		<li class="line-b p10">Adrian Jetzer<span class="right text-gray size-12">German</span></li>
		<li class="line-b p10">IYOES<span class="right text-gray size-12">Indonesian</span></li>
		<li class="line-b p10">Masaru Suzuki<span class="right text-gray size-12">Japanese</span></li>
		<li class="line-b p10">Caner Sevince<span class="right text-gray size-12">Turkish</span></li>
		<li class="line-b p10">Sait Dogan Etiler<span class="right text-gray size-12">Turkish</span></li>
	</ul>

	<div class="row m20t">
		<div class="columns text-center">
			<span class="size-12 text-gray" translate>
				Thanks
			</span>
		</div>
	</div>

	<div class="extra-margin-bottom"></div>
</div>