<!-- 新版本可用 -->
<style>
	div.howtosignWrap{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: -webkit-linear-gradient(top, #1B213F 0%,#1B213F 0%);
		z-index: 6666;
	}
	nav.navTop{
		height:45px;
		background: #fff;
		position: relative;
	}
	nav.navTop span.navTopS{
		height:45px;
		line-height: 45px;
		position: absolute;
		left:5px;
	}
	nav.navTop p{
		height:45px;
		line-height: 45px;
		font-size:17px;
		text-align: center;
		font-weight:bold;
	}
	div.ovAuto{
		height:calc(100% - 45px);
		overflow: auto;
		padding-bottom:25px;
	}
	div.howReady{
		background: #fff;
		margin-top: 25px;
		width: 94%;
		margin-left: 3%;
		border-radius: 4px;
		padding: 5px 10px;
	}
	p.howTitle{
		margin:0;
		font-size: 16px;
		color: #17478C;
		text-align: center;
		margin-top: 10px;
	}
	ol.howOl{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 14px;
		color: #17478C;
	}
	div.howWatch{
		background: #212D51;
		border-radius: 4px;
		width: 94%;
		margin-left: 3%;
		padding:5px 10px 15px;
		margin-top:15px;
	}
	p.howTitleFFF{
		color: #fff;
	}
	p.txtContent{
		font-size: 14px;
		color: #fff;
		margin-bottom: 10px;
		margin-top:10px;
	}
	p.txtContentBack{
		font-size: 14px;
		background: #384262;
		color: #fff;
		padding:5px 10px;
		font-weight:bold;
	}
	p.txtContentBack b{
		color: #96c6fc;
	}
	.stepBy .stepByLeft{
		float: left;
		background: #539AFF;
		border-radius: 4px;
		color: #fff;
		font-size:16px;
		margin-bottom: 0;
		height: 30px;
		line-height: 32px;
		padding: 0 5px;
		margin-right: 5px;
	}
	.stepBy .stepByRight{
		color: #fff;
		font-size:16px;
		margin-bottom: 0;
		height: 30px;
		line-height: 32px;
	}
	.imgWrap div.img{
		width:48%;
		float: left;
		margin-right:4%;
	}
	.imgWrap div.img img{
		width:100%;
	}
	.imgWrap div.noMarginR{
		margin-right:0!important;
	}
	div.clearB{
		clear: both;
	}
	div.mb45{
		margin-bottom:45px;
	}
	div.mb25{
		margin-bottom:25px;
	}
	div.mb10{
		margin-bottom:10px;
	}



</style>

<div class="howtosignWrap" ng-controller="howtouse as how">
	<nav class="navTop">
		<span class="navTopS" translate ng-click="index.showhow = 0">Close</span>
		<p translate>How does offline signing work?</p>
	</nav>


	<div class="ovAuto">
		<!--准备工作-->
		<div class="howReady">
			<p class="howTitle" translate>Ready for work:</p>
			<ol class="howOl">
				<li translate>Two phones without root or you think it’s safe.</li>
				<li translate>Installed the newest version 1.1.5 and download from trustnote.org</li>
				<li translate>One of phone open airplane mode as cold wallet,keep it offline always because it's saved your privacy key.</li>
			</ol>
		</div>

		<!--观察钱包-->
		<div class="howWatch">
			<p class="howTitle howTitleFFF" translate>Watch wallet</p>
			<p translate class="txtContent">If you want to use cold wallet in Trustnote version 1.1.5,you should watch the wallet at first.</p>
			<p translate class="txtContentBack">note:one of phone connected network as <b>hot wallet</b> to watch <b>cold wallet</b>,the other one keep offline for Authorized signature.</p>

			<!--第一步-->
			<div class="stepBy">
				<p class="stepByLeft" translate>Step1</p>
				<p class="stepByRight" translate>Hot wallet:</p>
			</div>
			<div class="clearB"></div>
			<p translate class="txtContent">Click “create wallet” - choose watch wallet - click “scan button” next to the title of the Offline wallet QR code ,scan Offline wallet QR code from step2</p>
			<div class="imgWrap" ng-if="how.isEn()">
				<div class="img">
					<img src="img/HowToCreate/img01EN.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToCreate/img02EN.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>
			<div class="imgWrap" ng-if="!how.isEn()">
				<div class="img">
					<img src="img/HowToCreate/img01CH.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToCreate/img02CH.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>

			<!--第二步-->
			<div class="stepBy">
				<p class="stepByLeft" translate>Step2</p>
				<p class="stepByRight" translate>Cold wallet:</p>
			</div>
			<div class="clearB"></div>
			<p translate class="txtContent">Choose the wallet you want to be watched, click "wallet Settings" - input password - shows the Offline wallet QR code</p>
			<div class="imgWrap" ng-if="how.isEn()">
				<div class="img">
					<img src="img/HowToCreate/img03EN.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToCreate/img04EN.PNG" alt="">
				</div>
				<div class="clearB mb10"></div>
				<div class="img">
					<img src="img/HowToCreate/img05EN.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>
			<div class="imgWrap" ng-if="!how.isEn()">
				<div class="img">
					<img src="img/HowToCreate/img03CH.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToCreate/img04CH.PNG" alt="">
				</div>
				<div class="clearB mb10"></div>
				<div class="img">
					<img src="img/HowToCreate/img05CH.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>

			<!--第三步-->
			<div class="stepBy">
				<p class="stepByLeft" translate>Step3</p>
				<p class="stepByRight" translate>Hot wallet:</p>
			</div>
			<div class="clearB"></div>
			<p translate class="txtContent">Scan step2’s cold wallet - click“import wallet” - generate QR code for “Authorized signature”</p>
			<div class="imgWrap" ng-if="how.isEn()">
				<div class="img">
					<img src="img/HowToCreate/img06EN.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToCreate/img07EN.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>
			<div class="imgWrap" ng-if="!how.isEn()">
				<div class="img">
					<img src="img/HowToCreate/img06CH.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToCreate/img07CH.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>

			<!--第四步-->
			<div class="stepBy">
				<p class="stepByLeft" translate>Step4</p>
				<p class="stepByRight" translate>Cold wallet:</p>
			</div>
			<div class="clearB"></div>
			<p translate class="txtContent">Scan step3’s QR wallet - generate “Signature detail” QR code</p>
			<div class="imgWrap" ng-if="how.isEn()">
				<div class="img">
					<img src="img/HowToCreate/img08EN.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToCreate/img09EN.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>
			<div class="imgWrap" ng-if="!how.isEn()">
				<div class="img">
					<img src="img/HowToCreate/img08CH.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToCreate/img09CH.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>

			<!--第五步-->
			<div class="stepBy">
				<p class="stepByLeft" translate>Step5</p>
				<p class="stepByRight" translate>Hot wallet:</p>
			</div>
			<div class="clearB"></div>
			<p translate class="txtContent">Click “next”button - click “scan ”button - scan signature detail QR code from cold wallet generated in step4</p>
			<div class="imgWrap" ng-if="how.isEn()">
				<div class="img">
					<img src="img/HowToCreate/img10EN.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToCreate/img11EN.PNG" alt="">
				</div>
				<div class="clearB mb10"></div>
				<div class="img">
					<img src="img/HowToCreate/img12EN.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>
			<div class="imgWrap" ng-if="!how.isEn()">
				<div class="img">
					<img src="img/HowToCreate/img10CH.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToCreate/img11CH.PNG" alt="">
				</div>
				<div class="clearB mb10"></div>
				<div class="img">
					<img src="img/HowToCreate/img12CH.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>
		</div>



		<!--冷钱包交易签名-->
		<div class="howWatch">
			<p class="howTitle howTitleFFF" translate>Cold wallet transaction signature</p>
			<p translate class="txtContent">Let’s use offline signature function to transfer TTT:</p>

			<!--第一步-->
			<div class="stepBy">
				<p class="stepByLeft" translate>Step1</p>
				<p class="stepByRight" translate>Hot wallet:</p>
			</div>
			<div class="clearB"></div>
			<p translate class="txtContent">Choose one watch wallet that is the same with cold wallet - go to TTT transaction page,input all the transfer information - click “Confirm” button - generate QR code</p>
			<div class="imgWrap" ng-if="how.isEn()">
				<div class="img">
					<img src="img/HowToSign/img01en.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToSign/img02en.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>
			<div class="imgWrap" ng-if="!how.isEn()">
				<div class="img">
					<img src="img/HowToSign/img01ch.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToSign/img02ch.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>

			<!--第二步-->
			<div class="stepBy">
				<p class="stepByLeft" translate>Step2</p>
				<p class="stepByRight" translate>Cold wallet:</p>
			</div>
			<div class="clearB"></div>
			<p translate class="txtContent">Scan step1’s QR code from hot wallet - click”sign” - input password - generate “Authorized” QR code</p>
			<div class="imgWrap" ng-if="how.isEn()">
				<div class="img">
					<img src="img/HowToSign/img03en.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToSign/img04en.PNG" alt="">
				</div>
				<div class="clearB mb10"></div>
				<div class="img">
					<img src="img/HowToSign/img05en.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>
			<div class="imgWrap" ng-if="!how.isEn()">
				<div class="img">
					<img src="img/HowToSign/img03ch.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToSign/img04ch.PNG" alt="">
				</div>
				<div class="clearB mb10"></div>
				<div class="img">
					<img src="img/HowToSign/img05ch.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>

			<!--第三步-->
			<div class="stepBy">
				<p class="stepByLeft" translate>Step3</p>
				<p class="stepByRight" translate>Hot wallet:</p>
			</div>
			<div class="clearB"></div>
			<p translate class="txtContent">Click”next”button - click”scan”button,then scan “Authorized” QR code from cold wallet generate in step2 - sending transaction</p>
			<div class="imgWrap" ng-if="how.isEn()">
				<div class="img">
					<img src="img/HowToSign/img06en.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToSign/img07en.PNG" alt="">
				</div>
				<div class="clearB mb10"></div>
				<div class="img">
					<img src="img/HowToSign/img08en.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>
			<div class="imgWrap" ng-if="!how.isEn()">
				<div class="img">
					<img src="img/HowToSign/img06ch.PNG" alt="">
				</div>
				<div class="img noMarginR">
					<img src="img/HowToSign/img07ch.PNG" alt="">
				</div>
				<div class="clearB mb10"></div>
				<div class="img">
					<img src="img/HowToSign/img08ch.PNG" alt="">
				</div>
				<div class="clearB mb25"></div>
			</div>
		</div>


		<!--小知识-->
		<div class="howReady">
			<p class="howTitle" translate>tips:</p>
			<ol class="howOl">
				<li translate>There is saved privacy key in cold wallet phone, so keep it safe and complete backup carefully</li>
				<li translate>Keep cold wallet offline</li>
				<li translate>Watch wallet can’t finish transaction without “offline signature” from cold wallet</li>
			</ol>
		</div>
		<div class="mb45"></div>


	</div>
</div>

