<!-- 新版本可用 -->
<style>
	div.newVwrap{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0.5;
		background: #000;
		z-index: 6660;
	}
	div.newV{
		position: absolute;
		left: 10%;
		width: 80%;
		top: 30%;
		background: #fff;
		color: #000;
		z-index: 6666;
		padding: 10px 0 0 0 ;
		border-radius: 10px;
		overflow: hidden;
	}
	ul.newUl{
		word-break: break-all;
		list-style: none;
		margin:15px 0;
	}
	li.newLi{
		list-style: none;
		padding: 0 15px;
		color: #666;
		margin-bottom:5px;
	}
	p.pbtn{
		float: left;
		border-top:1px solid #d8d8d8;
		width: 50%;
		text-align: center;
		height:50px;
		line-height: 50px;
		font-size:16px;
		margin-bottom: 0;
		cursor: pointer;
	}
	p.borderR{
		border-left:1px solid #d8d8d8;
		color: #0095ff;
	}
	p.titleupdate{
		font-size:18px;
		color: #333;
		text-align: center;
	}


</style>

<div class="newVwrap"></div>

<div class="newV">
	<p class="titleupdate" translate>Upgrade Prompt</p>
	<ul class="newUl">
		<li class="newLi" ng-repeat="item in index.textToUpdate()">{{$index + 1}}. {{item}}</li>
	</ul>

	<p class="pbtn" translate ng-click="index.cancelUpdate()">Later</p>
	<p class="pbtn  borderR" translate ng-click="index.openDownloadLink()">Update</p>
</div>