
<!--交易详情-->

<nav class="tab-bar">
	<section class="left-small">
		<a ng-click="cancel()">
			<i class="icon-arrow-left3 icon-back"></i>
			<span class="text-back" translate>Back</span>
		</a>
	</section>

	<section class="middle tab-bar-section">
		<h1 class="title ellipsis">
			<span class="size-17 colorfff" translate>Details</span>
		</h1>
	</section>
</nav>


<div class="modal-content fix-modals-touch" style="background: #f5f5f5;">
	
	<!--添加色块-->
	<div style="height: 130px;background: url('img/bg.png')"></div>

	<!--添加外层一个div-->
	<div class="oh" style="background: #fff; width: 92%; margin-left:4%;border-radius: 5px; margin-top:-70px;">

	<!--标题	-->
	<div class="header-modal text-center enable_text_select" style="background: #f5f5f5;">
		<!--判断交易是否有效 有效-->
		<div class="size-18" ng-show="btx.action != 'invalid'">
			<span ng-if="btx.action == 'received'">
				<span translate>Received</span>
			</span>

			<span ng-if="btx.action == 'sent'">
				<span translate>Sent</span>
			</span>
			{{btx.amountStr}}
		</div>

		<!--判断交易是否有效 无效-->
		<div class="size-18" ng-show="btx.action == 'invalid'">
			-
		</div>
	</div>

	<!--<h4 class="title m0" translate>Details</h4>-->

	<ul class="no-bullet size-14 m0">
		<li ng-if="!btx.hasMultiplesOutputs && btx.addressTo && btx.addressTo != 'N/A'" class="line-b p10 oh" ng-click="copyAddress(btx.addressTo)">
			<span class="text-gray" translate>To</span>:
			<span class="right">
      			<span ng-if="btx.merchant">
        			<span ng-show="btx.merchant.pr.ca"><i class="fi-lock color-greeni"></i> {{btx.merchant.domain}}</span>
        			<span ng-show="!btx.merchant.pr.ca"><i class="fi-unlock color-yellowi"></i> {{btx.merchant.domain}}</span>
      			</span>

				<span ng-if="!btx.merchant">
        			<span ng-show="btx.labelTo">{{btx.labelTo}}</span>
        			<contact ng-show="!btx.labelTo" class="enable_text_select" address="{{btx.addressTo}}"></contact>
      			</span>
    		</span>
		</li>

		<li ng-show="btx.hasMultiplesOutputs" class="line-b p10 oh" ng-click="showMultiplesOutputs = !showMultiplesOutputs">
			<span class="text-gray" translate>Recipients</span>:
			<span class="right">
				{{btx.recipientCount}}
        		<i ng-show="showMultiplesOutputs" class="icon-arrow-up3 size-24"></i>
        		<i ng-show="!showMultiplesOutputs" class="icon-arrow-down3 size-24"></i>
      		</span>
		</li>





		<!-- 接收 来自 -->
		<li ng-if="btx.action == 'received'" class="line-b p10 row collapse">
			<!--<div class="text-gray small-2 columns"><span translate>From</span>:</div>-->
			<span class="text-gray" translate>From</span>:
			<!--<div class="right small-10 columns enable_text_select ellipsis">-->
				<!--<div ng-repeat="address in btx.arrPayerAddresses" class="right">{{address}}</div>-->
			<!--</div>-->
			<span class="right enable_text_select ellipsis">
      			<span>
        			<span ng-repeat="address in btx.arrPayerAddresses">{{address}}</span>
      			</span>
    		</span>
		</li>
		<!-- 接收 到哪个地址 -->
		<li ng-if="btx.action == 'received'" class="line-b p10 row collapse">
			<!--<div class="text-gray small-2 columns"><span translate>To</span>:</div>-->
			<span class="text-gray" translate>To</span>:
			<!--<div class="right small-10 columns enable_text_select ellipsis">-->
				<!--<div class="right">{{btx.my_address}}</div>-->
			<!--</div>-->
			<span class="right enable_text_select ellipsis">
      			<span>
        			<span>{{btx.my_address}}</span>
      			</span>
    		</span>
		</li>


		<div class="line-b" ng-show="btx.hasMultiplesOutputs && showMultiplesOutputs"
			 ng-repeat="output in btx.outputs"
			 ng-include="'views/includes/output.html'">
		</div>

		<li ng-show="btc.message" class="line-b p10 oh">
			<span class="text-gray" translate>Note</span>:
			<span class="right">{{btx.message}}</span>
		</li>

		<li ng-if="btx.action == 'invalid'" class="line-b p10 oh">
    		<span class="right" translate>
      			This transaction has become invalid; possibly due to a double spend attempt.
    		</span>
		</li>

		<!--交易日期-->
		<li ng-if="btx.time" class="line-b p10 oh">
			<span class="text-gray" translate>Date</span>:
			<span class="right">
      			<time>{{ btx.time * 1000 | amDateFormat:'MM/DD/YYYY HH:mm a'}}</time>
      			<time>({{ btx.time * 1000 | amTimeAgo}})</time>
    		</span>
		</li>

		<!--交易用掉小费-->
		<li class="line-b p10" ng-show="btx.action != 'received'">
			<span class="text-gray" translate>Fee</span>:
			<span class="right">{{btx.feeStr}}</span>
		</li>


		<!--交易单元 -->
		<li class="p10 row collapse">
			<div class="text-gray small-2 columns"><span translate>Unit</span>:</div>
		</li>
		<li class="line-b row collapse">
			<div class="right columns enable_text_select ellipsis external-link " style="text-align: right;margin-top: -5px; padding-bottom:7px;">
				<a ng-click="openInExplorer()" class=" " style="font-size: 13px">{{btx.unit}}</a>
			</div>
		</li>
		<!--交易单元 结束-->



		<li class="line-b p10 oh" ng-if="btx.message && btx.action != 'received'">
			<span class="text-gray" translate>Note</span>:
			<span class="right">{{btx.message}}</span>
		</li>

		<li ng-if="btx.merchant" class="line-b p10 oh">
			<span class="text-gray" translate>Merchant message</span>:
			<span class="right">
      			{{btx.merchant.pr.pd.memo}}
    		</span>
		</li>

		<!--交易结果确认-->
		<li ng-if="btx.time" class="line-b p10 oh">
			<span class="text-gray" translate>Finality</span>:
			<span class="right">
      			<span class="text-warning" ng-show="!btx.confirmations || btx.confirmations == 0" translate style="color: #fff;background: red;padding: 3px 5px;border-radius: 3px;font-size: 10px;">
        			Unconfirmed
      			</span>
      			<span class="label gray radius" ng-show="btx.confirmations" translate>
        			Confirmed
      			</span>
			</span>
		</li>

		<li ng-if="btx.action == 'sent' && isPrivate" class="line-b p10 oh">
			If the recipient doesn't see your payment, you can
			<a class="blue-link" style="padding: 0" ng-click="showCorrespondentList()" translate>
				re-send private payloads
			</a>
		</li>

		<li ng-if="n > 1 && isPrivate" class="line-b p10 oh">
			If any of your cosigner devices doesn't see this payment, you can
			<a class="blue-link" style="padding: 0" ng-click="reSendPrivateMultiSigPayment()" translate>
				re-send private payloads to cosigners
			</a>
		</li>
	</ul>

	</div>
	<!--添加一个外层div 结束	-->
</div>
