<style type="text/css">
	section::-webkit-scrollbar{
		display: none;
	}
	.airDropBox{
		padding: 0 15px;
	}
	.assetBox{
		background: #F5F5F5;
		margin: 0 -15px 20px -15px;
		padding: 0 15px;
	}
	.submitBtn{
		width: 100%;
		height: 40px;
		font-size: 18px;
		background-color: #0095FF;
		padding: 0;
		color: white;
		border-radius: 50px !important;
	}
	.submitBtn:hover{
		opacity: 0.9;
	}
	.historyList h4{
		margin: 0;
		padding-bottom: 10px;
		color: black;
		font-weight: 700;
		border-bottom: 1px solid #CCCCCC;
	}
	.newList p{
		margin-bottom: 10px;
	}
	.empty img{
		margin-top: 25px;
		width: 50px;
	}
	.empty p{
		font-size: 13px;
		color: #BBBBBB;
		margin-top: 10px;
	}
	.warring{
		height: 18px;
		font-size: 12px;
		color: #FF293C;
	}
	form .input{
		margin-bottom: 7px;
		position: relative;
	}
	form .input input{
		height: 45px;
		font-size: 14px;
		padding-right:45px;
		margin-bottom: 7px;
		text-align: right;
	}
	input.lang-en{
		padding-right: 75px !important;
	}
	form .input .placeholder{
		position: absolute;
		top: 10px;
		left: 10px;
	}
	.amount-pop{
		color: black;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.95;
		text-align: center;
		line-height: 33px;
		background: #ccc;
	}
	.submit-disable{
		background-color: #CCCCCC;
	}
	p.p_toast{
		background: #0095ff;
		color: #fff;
		width: 44%;
		height:35px;
		line-height:35px;
		left:28%;
		position: absolute;
		bottom: 80px;
		border-radius: 3px;
		text-align: center;
		margin:0;
	}

</style>


<div ng-controller="airDrop as airD">
	<div class="topbar-container" ng-include="'views/includes/topbar.html'"  ng-init="titleSection='Send T Code'; goBackToState = true"></div>

	<div class="airDropBox">
		<!--可用余额-->
		<div class="assetBox">
		<span class="db text-bold">
			<span class="size-12 color333" translate>Available Balance</span>:
		</span>
			<select
				style="height: 45px; font-size: 14px;background-color: #FFFFFF;"
				class="m10t"
				ng-model="index.assetIndex"
				ng-options="index.arrBalances.indexOf(balance) as ( (balance.asset === 'base' || balance.asset == index.BLACKBYTES_ASSET ? balance.stableStr : balance.stable.toLocaleString() + ' of ' + balance.asset) + (balance.pending ? ' (confirmed)' : '') ) for balance in index.arrBalances"
			>
			</select>
		</div>
		<!--无法发送交易-->
		<div class="box-notification" ng-show="airD.error" ng-click="airD.resetError()">
			<span class="text-warning">{{airD.error|translate}}</span>
			<a class="close-notification text-warning">&#215;</a>
		</div>
		<form name="sendCandyForm" ng-submit="airD.submitForm()">
			<!-- 发送金额 -->
			<div>
				<label for="candyAmount">
					<span class="size-12 color999" translate>Fixed Amount Each</span>
				</label>
				<div class="input">
					<input type="number" name="candyAmount" id="candyAmount" step="0.000001"
						   valid-amount="{{index.arrBalances[index.assetIndex].asset}}"
						   ng-model="airD.candyAmount"
						   autocomplete="off"
						   placeholder="0.0000"
						   ng-change="airD.checkNumber('amount')"
					>
					<span class="placeholder" translate>Amount each</span>
					<a style="line-height: 45px;height: 45px;padding-right: 12px;" class="postfix" ng-if="index.arrBalances.length > 0 && index.arrBalances[index.assetIndex].asset === 'base'">
						MN
					</a>
					<a class="postfix" ng-if="index.arrBalances.length > 0 && index.arrBalances[index.assetIndex].asset !== 'base' && index.arrBalances[index.assetIndex].asset !== index.BLACKBYTES_ASSET">
						of {{index.arrBalances[index.assetIndex].asset.substr(0,4)}}
					</a>
					<div class="warring" ><span ng-show="airD.amountWarring">{{airD.amountWarringMsg}}</span></div>
				</div>
				<div class="input">
					<input type="number" name="redPacketCount"
						   style="padding-right: 30px;"
						   ng-class="{'lang-en':airD.language == 'en'}"
						   ng-model="airD.redPacketCount"
						   autocomplete="off"
						   placeholder="{{airD.T_count_placeholder}}"
						   ng-change="airD.checkNumber('count')"
					>
					<span class="placeholder" translate>Quantity</span>
					<a style="line-height: 45px;height: 45px;padding-right: 12px;" class="postfix" translate>Number</a>
					<div class="warring" ><span ng-show="airD.countWarring">{{airD.countWarringMsg}}</span></div>
				</div>
				<p style="text-align: center;position: relative" >
					<span translate>Total amount</span>
					<span ng-model="airD.candyTotalCount" style="font-size: 21px">{{(airD.redPacketCount * airD.candyAmount).toFixed(4)}}</span> MN
					<span class="amount-pop" ng-if="!airD.submitAble" translate>Youe balance is not enough</span>
				</p>
			</div>
			<input type="submit" class="submitBtn" ng-disabled="airD.countWarring || airD.amountWarring || airD.submitAction" ng-class="{'submit-disable': airD.countWarring || airD.amountWarring || airD.submitAction}" value="{{airD.submitText}}">

			<!--发送成功 显示-->
			<p translate class="p_toast" ng-if="airD.gened == 1">Already generated</p>

			<div class="row" ng-show="index.bHasMerkle">
				<div class="large-12 columns">
					<label for="merkle_proof">
						<span translate>Merkle proof</span>
						<small translate ng-hide="!sendCandyForm.merkle_proof.$pristine">optional</small>
						<small translate class="has-error" ng-show="sendCandyForm.merkle_proof.$invalid && !sendCandyForm.merkle_proof.$pristine">
							too long!
						</small>
					</label>
					<div class="input">
						<textarea id="merkle_proof" name="merkle_proof" maxlength="4096" ng-model="_merkle_proof"></textarea>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


