<!--<div class="passModalMask" ng-click="index.askqr = false"> </div>-->

<!--蒙版层-->
<div class="passModalMask"> </div>


<!--备份钱包口令-->
<div class="passModal oh" style="height: 80%; border-radius: 10px;">




<!--控制器开始-->
<div class="content preferences" ng-controller="wordsController as wordsC" style="top:0;">

	<!--第一步：警告 请立即备份您的钱包-->
	<div  ng-if="wordsC.step === 'show_waring'">
		<h1 class="icon-beifen m20t" style="font-size: 110px;color:#333;text-align: center;"></h1>
		<h1 class="color333; text-center" style="font-size: 18px; font-weight: bold; " translate>Hello</h1>
		<h1 class="color333; text-center" style="font-size: 18px; font-weight: bold; " translate>Please backup the mnemonic word</h1>

		<p class="size-14 text-center" style="width: 90%; margin: 15px auto;" translate>We highly recommend you write the Mnemonic words(Backup Phrase) on Paper and keep it in a safe place, anyone get it can access or spend you assets. Also get start with a small amout of assets.</p>

		<p
				style="width: 150px; text-align:center; height: 45px; line-height: 45px; background: #0095ff; border-radius: 40px; color: #fff; margin: 25px auto; cursor:pointer; " translate
				ng-click="wordsC.gono()">
			Backup
		</p>
	</div>
	<!--第一步  结束-->


	<!--第二步 展示不能截图-->
	<div ng-if="wordsC.step === 'show_jietu'">
		<h1 class="icon-no m20t" style="font-size: 110px;color:#ff5665;text-align: center;"></h1>
		<h1 class="color333; text-center" style="font-size: 18px; font-weight: bold; " translate>	Don't screenshot</h1>
		<p class="size-14 text-center" style="width: 90%; margin: 15px auto;" translate>Please write the Mnemonic words on Paper and keep it in a safe place.</p>

		<p
				style="width: 150px; text-align:center; height: 45px; line-height: 45px; background: #ff5665; border-radius: 40px; color: #fff; margin: 25px auto 0; cursor:pointer; " translate
				ng-click="wordsC.showword()">
			Understood
		</p>
	</div>
	<!--第二步  结束-->


	<!--第三步：显示助记词-->
	<div  ng-if="wordsC.step === 'show_word'">

		<!--备份错误-->
		<div class="box-notification" ng-show="wordsC.error">
			<span class="text-warning">{{wordsC.error|translate}}</span>
		</div>

		<h1 class="color333; text-center" style="font-size: 18px; font-weight: bold; margin-top:45px; "  translate>Please backup the mnemonic words</h1>
		<p class="size-14 text-center" style="width: 90%; margin: 15px auto;" translate>Those 12 mnemonic words are for recovering you wallet, write down correctly on paper and keep in a safe place.</p>

		<!--<div style="width: 90%; background:#fff; height: 100px; margin:0 auto; padding: 10px ; ">-->
			<!--显示12个助记词-->
		<div class="p10" style="background:white;-webkit-user-select: text;" ng-class="{'enable_text_select': index.network == 'testnet'}">
			<span ng-repeat="word in wordsC.mnemonicWords track by $index" class=" enable_text_select">
				<span style="white-space:nowrap; -webkit-user-select: text;">{{word}}</span>
				<span ng-show="wordsC.useIdeograms">&#x3000;</span>
			</span>
		</div>

		<p
                style="width: 150px; text-align:center; height: 45px; line-height: 45px; background: #0095ff; border-radius: 40px; color: #fff; margin: 25px auto 0; cursor:pointer;"
				translate
				ng-click="wordsC.showinput()">
			Next
		</p>
	</div>
	<!--第三步 结束-->


	<!--第四步 校验您的钱包口令-->
	<div ng-if="wordsC.step === 'show_input'">
		<h1 class="color333; text-center" style="font-size: 18px; font-weight: bold; margin-top:45px; " translate>Confirm your mnemonic words</h1>
		<p class="size-14 text-center" style="width: 90%; margin: 15px auto 0;" translate>Please write the mnemonic words in order and make sure your mnemonic was correct written.</p>
		<!--<p class="size-14 text-center" style="width: 90%; margin: 5px auto;">以确认您的备份口令正确</p>-->

		<textarea ng-model="wordsC.value" style="width: 90%; background:#fff; height: 100px; margin:0 auto; padding: 10px ;"></textarea>


		<!--建议删除种子文件-->

		<p ng-if="wordsC.dis() && wordsC.value" style="text-align: center; color:red;margin-top: 10px;" translate>Invalid mnemonic</p>
		<p
				ng-if="wordsC.dis()"
				style="width: 150px; text-align:center; height: 45px; line-height: 45px; background: #0095ff; border-radius: 40px; color: #fff; margin: 25px auto 0; cursor:pointer;  " translate
				ng-click="wordsC.showword()">
			Last step
		</p>
		<p class="size-14 text-center" style="width: 90%; margin: 20px auto 10px;color:#ff5665; font-weight: bold" ng-if="!wordsC.dis()" translate>Your mnemonic words are correct. To make your wallet safe, we highly recommend you delete mnemonic words from app.</p>

		<!--点击删除钱包-->
		<div style="text-align: center;">
			<button
					style="width: 150px; text-align:center; height: 45px; background: #0095ff; border-radius: 40px; color: #fff; margin: 0px auto 0; padding: 0;"
					ng-click="wordsC.del()"
					translate ng-if="!wordsC.dis()" translate>DELETE</button>
		</div>

		<!--正确 点击进入 主页-->
		<div style="text-align: center;margin: 15px;">
			<button
					style="width: 150px; text-align:center; height: 45px; background: #0095ff; border-radius: 40px; color: #fff; padding: 0;margin: 0;"
					ng-click="index.splashClick = false"
					ng-if="!wordsC.dis()" translate>
				Next
			</button>
		</div>


		<!--确认要删除么？-->
		<div style="position: absolute; width: 100%;height: 100%; left:0; top:0;background:#f5f5f5; " ng-if="wordsC.delseed">
			<h1 class="icon-trashes m20t" style="font-size: 110px;color:#333;text-align: center;"></h1>
			<h1 class="text-center" style="font-size: 18px; font-weight: bold; color:#333; " translate>
				Are you sure you want to delete the mnemonic ？
			</h1>



			<!--<span-->
					<!--translate-->
					<!--ng-click="index.splashClick = false"-->
					<!--style="cursor:pointer;display: inline-block;width: 110px; text-align:center;height: 45px;line-height: 45px;position: absolute;left:40px;background: #0095ff;border-radius: 40px;color:#fff; margin-top: 75px;">-->
				<!--Ignore-->
			<!--</span>-->

			<!--<span-->
					<!--translate-->
					<!--ng-click="wordsC.delteConfirm();index.splashClick = false"-->
				  	<!--style="cursor:pointer;display: inline-block;width: 110px; text-align:center;height: 45px;line-height: 45px; position: absolute;right:40px;background: #0095ff;border-radius: 40px;color:#fff; margin-top:75px;">-->
				<!--Confirm-->
			<!--</span>-->




			<p style="width: 150px; text-align:center; height: 45px; line-height: 45px; background: #0095ff; border-radius: 40px; color: #fff; margin: 75px auto 0; cursor:pointer;"
				translate
			   ng-click="index.splashClick = false">
				Ignore
			</p>

			<p style="width: 150px; text-align:center; height: 45px; line-height: 45px; background: #0095ff; border-radius: 40px; color: #fff; margin: 25px auto 0; cursor:pointer;"
			   translate
			   ng-click="wordsC.delteConfirm();index.splashClick = false">
				Confirm
			</p>



		</div>


		<!--style="font-size: 18px;color: #ff5665; text-align: center;margin-top:100px; margin-bottom: 120px;padding: 0 10px"-->


	</div>
	<!--第四步 结束-->
</div>
<!--控制器 结束	-->


</div>


<!--;index.splashClick = false-->


<!--<div class="topbar-container" ng-include="'views/includes/topbar.html'" ng-init="titleSection='Backup'; goBackToState = true"></div>-->

<!--备份前提示-->
<!--<div>-->
<!--<div class="row">-->
<!--<div class="m10t columns size-14 text-gray">-->
<!--<span translate>Just the wallet seed is not enough, contact lists and meesages could be recovered.</span>-->
<!--<br><br>-->
<!--<span translate>To be able to restore everything, please create a full backup</span>-->
<!--<span ng-if="!wordsC.isCordova"> </span>-->
<!--<span ng-if="!wordsC.isCordova" translate>or backup all TrustNote data at</span>-->
<!--<span ng-if="!wordsC.isCordova"> {{wordsC.appDataDir}}</span>.-->
<!--<br><br>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--显示隐藏钱包种子-->
<!--<div ng-show="wordsC.mnemonicWords || (wordsC.credentialsEncrypted && !wordsC.deleted)">-->

<!--<div class="row" ng-show="wordsC.show">-->
<!--<div class="m10t text-center columns">-->
<!--<div class="size-12 text-gray">-->
<!--<span translate>Once you have written your wallet seed down, it is recommended to delete it from this device.</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<button ng-click="wordsC.showInput()"> 点击下一步</button>-->

<!--<div class="extra-margin-bottom"></div>-->