<style>
	span.spanClose{
		margin-left: 10px;
		color: #0095ff;
		line-height:45px;
		cursor: pointer;
	}
	div.imgDiv{
		height: 110px;
		text-align: center;
		margin-top: 60px;
	}
	div.imgDiv img{
		height:100%;
	}
	p.pButton{
		height: 45px;
		text-align: center;
		line-height: 45px;
		background: #0095ff;
		color: #ffffff;
		border-radius: 45px;
		cursor: pointer;
		width: 90%;
		position: absolute;
		bottom: 70px;
		left: 50%;
		margin-left: -45%;
	}
	p.err,p.suc{
		font-size: 14px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0;
	}
	p.suc{
		width: 40%;
		height: 38px;
		line-height: 38px;
		color: white;
		margin: 0 auto;
		margin-top: 65%;
		border-radius: 5px;
		background-color: rgba(0,0,0,0.50);
	}
	p.err{
		color: red;
	}
	p.suc img ,p.err img{
		height: 1.1rem;
		margin-right: 0.2rem;
	}
	p.conF{
		font-size:14px;
		text-align: center;
		color: #333;
		margin-top: 20px;
	}
	.cancel{
		text-align: center;
		cursor: pointer;
		margin-top: 15px;
		position: absolute;
		bottom: 30px;
		left: 0;
		width: 100%;
	}
	.success-cover{
		position: absolute;
		left:0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0,0.20);
	}
</style>


<div ng-controller="loginControl as loginC">
	<span class="spanClose" ng-click="$root.go('walletHome')" translate>Close</span>

	<div class="imgDiv">
		<img src="img/itoken.png" alt="">
	</div>
	<p class="conF" translate>Confirm login to iToken</p>

	<p class="pButton" ng-click="loginC.loginWebwallet()" translate ng-if="!loginC.showLogining">Login</p>
	<p class="pButton" translate ng-if="loginC.showLogining">Logining</p>
	<p class="cancel" ng-click="$root.go('walletHome')" translate>Cancel</p>

	<p class="err" ng-if="loginC.error">
		<img src="img/login_err.png" alt="">
		<span translate>{{loginC.error}}</span>
	</p>

	<div class="success-cover" ng-if="loginC.loginSuccess">
		<p class="suc">
			<img src="img/login_success.png" alt="">
			<span translate>Login successful</span>
		</p>
	</div>

</div>


