
<!--点击TAB切换-->

<a ng-click="index.setTab(item, false, 0, true)" ng-class="{'active': index.tab == item.link}" id="menu-{{item.link}}">

	<!--字体图标 db=display:block -->
	<i class="size-28 {{item.icon}} db"></i>

	<!--TAB栏文字 tu=text-transform:uppercase-->
	<div class="size-10 tu titletxt">
		{{ item.title|translate }}

		<span class="label alert round" ng-if="item.link=='walletHome' && index.pendingTxProposalsCountForUs > 0">
            {{ index.pendingTxProposalsCountForUs }}
        </span>
	</div>

	<div ng-show="item.title == 'Chat' && totalNewMsgCnt > 0" class="badge">
		{{totalNewMsgCnt}}
	</div>
</a>
