<!--冷钱包 授权二维码-->
<style>
	div.passModalMaskColdQr {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1099;
		opacity:1;
		background: #f5f5f5;
	}
	p.bbutton{
		text-align: center;
		line-height:45px;
		color: #fff;
		width: 84%;
		height:45px;
		background: #0095ff;
		/*margin:0 auto;*/
		border-radius: 22.5px;
		cursor: pointer;
		position: fixed;
		bottom:25px;
		left:8%;
	}
	div.passModalMaskColdQr1{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1199;
		opacity:0.5;
		background: #000;
	}
	div.passModalMaskColdQr2{
		position: absolute;
		width: 86%;
		/*height: 80%;*/
		z-index: 1200;
		opacity:1;
		margin-top:15%;
		margin-left:7%;
		border-radius: 15px;
		background: #fff;
	}
	p.finish{
		text-align: center;
		line-height: 45px;
		color: #fff;
		height: 45px;
		background: #0095ff;
		border-radius: 22.5px;
		cursor: pointer;
		width: 84%;
		margin-left: 8%;
	}
</style>

<div class="passModalMaskColdQr">
	<div class="topbar-container" style="background: #12172e; height: 45px;">
		<section class="left-small" ng-click="index.closeToPay()">
			<a class="p10">
				<span class="text-close">{{'Close'|translate}}</span>
			</a>
		</section>
		<section class="middle tab-bar-section">
			<h1 class="ellipsis" ng-style="{ 'max-width': '100%'}">
				<span class="colorfff" style="font-size: 17px" translate>Signature detail</span>
			</h1>
		</section>
	</div>

	<p style="color: #333; font-size: 16px; padding-left: 10px;margin: 10px 0 0 0;" translate>Receiver</p>
	<p style="color: #666; font-size: 14px; padding-left: 15px;" translate>{{index.to_address()}}</p>

	<p style="color: #333; font-size: 16px; padding-left: 10px;margin: 10px 0 0 0;" translate>Amount</p>
	<p style="color: #666; font-size: 14px; padding-left: 15px;">{{index.amount()/1000000}}MN</p>

	<p class="bbutton" ng-click="index.showToPay();" translate>Sign</p>

</div>


<div class="passModalMaskColdQr1" ng-if="index.passModalMaskColdQr1 == 1"></div>
<div class="passModalMaskColdQr2" ng-if="index.passModalMaskColdQr1 == 1">
	<p translate style="text-align: center; padding: 10px 0 0 0; font-size: 17px;">Authorized</p>
	<div style="padding: 30px; text-align: center">
		<qrcode size="180" version="10" data="{{index.signatureObj}}"></qrcode>
	</div>
	<p translate style="text-align: center; color: #666; font-size: 14px;">Please scan signature QR code with your hot wallet</p>
	<p class="finish" ng-click="index.closeToPay(); index.passModalMaskColdQr1 = 0" translate>Finish</p>
</div>


